@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

@font-face {
  font-family: "SF Pro Text Regular";
  src: url(../fonts/FontsFree-Net-SFProText-Regular.ttf);
}

@font-face {
  font-family: "SF Pro Text Bold";
  src: url(../fonts/FontsFree-Net-SFProText-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  background: #000000;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  color: #f5f5f7;
  font-weight: 600;
}

h1 {
  font-size: 80px;
  line-height: 1.05;
  letter-spacing: -0.2px;
}

h2 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: -0.2px;
}

h3 {
  font-size: 28px;
  line-height: 1.07;
  letter-spacing: -0.2px;
}

p {
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  color: #a1a1a6;
  font-weight: 600;
  letter-spacing: 0.5px;
}

p.p_24px {
  font-size: 24px;
  line-height: 1.1666;
}

p.p_17px {
  font-size: 17px;
  line-height: 1.2;
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.2px;
}

p.p_21px {
  font-size: 21px;
  line-height: 1.19;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:focus,
a:active {
  text-decoration: none;
  outline: none !important;
}

button,
button:focus,
button:active,
input,
input:focus,
input:active,
textarea {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.full_width_bg {
  background-color: #000;
  position: relative;
  z-index: 5;
  padding-bottom: 150px;
}

.transparent_gap {
  width: 100%;
  height: 200vh;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 5;
  -webkit-box-shadow: inset 0 50px 63px 0 black, inset 0 -50px 63px 0 black;
          box-shadow: inset 0 50px 63px 0 black, inset 0 -50px 63px 0 black;
}

.transparent_gap .corner {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #000;
  z-index: 3;
}

.transparent_gap .corner.top {
  border-radius: 0 0 50rem 0;
  top: 0;
  left: 0;
}

.transparent_gap .corner.right {
  border-radius: 0 0 0 50rem;
  top: 0;
  right: 0;
}

.transparent_gap .corner.bottom {
  border-radius: 50rem 0 0 0;
  bottom: 0;
  right: 0;
}

.transparent_gap .corner.left {
  border-radius: 0 50rem 0 0;
  bottom: 0;
  left: 0;
}

.transparent_gap::before, .transparent_gap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130%;
}

.transparent_gap::before {
  top: 270px;
  border-radius: 0 0 150rem 150rem;
  -webkit-box-shadow: inset 0 -360px 155px 0 black;
          box-shadow: inset 0 -360px 155px 0 black;
}

.transparent_gap::after {
  top: -270px;
  border-radius: 150rem 150rem 0 0;
  -webkit-box-shadow: inset 0 360px 155px 0 black;
          box-shadow: inset 0 360px 155px 0 black;
}

.fixed_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.fixed_video video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.op_0_to_1_y {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.op_0_to_1 {
  opacity: 0;
}

.overly_oposite {
  background: linear-gradient(135deg, transparent, #000 20%) !important;
}

.d-inline-block {
  display: inline-block;
}

.p_r {
  position: relative;
}

.center_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anchor_center {
  text-align: center;
  margin-top: 35px;
}

.anchor_center .watch_the_event_anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.anchor_center .watch_the_event_anchor:hover {
  text-decoration: underline;
}

.anchor_center .watch_the_event_anchor span {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.anchor_center .watch_the_event_anchor span svg {
  width: 100%;
  height: 100%;
}

.big_h2_gray,
.big_p_white {
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  color: #f5f5f7;
  font-weight: 900;
  font-size: 80px;
  line-height: 1.05;
  letter-spacing: -0.2px;
}

.big_h2_gray {
  color: #a1a1a6;
}

.big_p_white {
  color: #f5f5f7;
}

.landscape_mode {
  margin-bottom: 150px;
}

.landscape_mode .big_bg_box {
  width: 980px;
  height: 735px;
  margin-bottom: 40px;
}

.portrait_and_landscape_img_box {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.4;
}

.portrait_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.portrait_mode .portrait_content_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portrait_mode .portrait_content_box p,
.portrait_mode .portrait_content_box button {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.portrait_mode .portrait_content_box.pr {
  padding-right: 100px;
}

.portrait_mode .portrait_content_box.pl {
  padding-left: 100px;
}

.portrait_mode .portrait_img_box {
  width: 58%;
}

.portrait_mode button {
  margin-top: 32px;
}

.text_white {
  color: #fff !important;
}

.gradient_text_with_line_box {
  max-width: 58.33%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gradient_text_with_line_box .gradient_text {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.gradient_text_with_line_box .gradient_line {
  margin: 32px 0;
  width: 100%;
  height: 3px;
}

.gradient_text_with_line_box .default_button, .gradient_text_with_line_box .btn_box button, .btn_box .gradient_text_with_line_box button {
  margin-top: 32px;
}

.black_overly_animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(100% + 10px);
  height: calc(100% + 30px);
  opacity: 1;
  background: #000;
}

.text_center {
  text-align: center !important;
}

.container_980px {
  max-width: 980px;
  margin: auto;
}

.container_58_percent {
  width: 58.33%;
  margin: auto;
}

.container_75_percent {
  width: 75%;
  margin: auto;
}

.container_66_percent {
  width: 66.66%;
  margin: auto;
}

.container_50_percent {
  width: 50%;
  margin: auto;
}

.gradient_text {
  font-size: 32px;
  line-height: 1.125;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#005e7f), to(#61b6cd));
  background-image: linear-gradient(to right, #005e7f, #61b6cd);
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 0.4px;
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.gradient_line {
  background: -webkit-gradient(linear, left top, right top, from(#005e7f), to(#61b6cd));
  background: linear-gradient(to right, #005e7f, #61b6cd);
}

.default_button, .btn_box button {
  border-radius: 100px;
  padding: 8px 16px;
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  border: 1.5px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#005e7f), to(#61b6cd));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #005e7f, #61b6cd);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #000 inset;
          box-shadow: 2px 1000px 1px #000 inset;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.default_button:hover, .btn_box button:hover {
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  color: #000;
}

.p_with_sup a {
  font-size: 10px;
  color: #a1a1a6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.p_with_sup a:hover {
  color: #2997ff;
}

.top_nav_1 {
  max-width: 980px;
  margin: auto;
}

.top_nav_1 .nav_links_wrapper ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_nav_1 .nav_links_wrapper ul a {
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  color: #f5f5f7;
  opacity: 0.75;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 14px;
}

.top_nav_1 .nav_links_wrapper ul a:hover, .top_nav_1 .nav_links_wrapper ul a:focus {
  opacity: 1;
}

.top_nav_1 .nav_links_wrapper ul a.logo_icon_anchor, .top_nav_1 .nav_links_wrapper ul a.search_icon_anchor {
  background-image: url(../assets/Svgs/logo.svg);
  background-size: 16px 44px;
  background-position: 0 1px;
  width: 16px;
  height: 44px;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.top_nav_1 .nav_links_wrapper ul a.logo_icon_anchor:hover, .top_nav_1 .nav_links_wrapper ul a.logo_icon_anchor:focus, .top_nav_1 .nav_links_wrapper ul a.search_icon_anchor:hover, .top_nav_1 .nav_links_wrapper ul a.search_icon_anchor:focus {
  opacity: 1;
}

.top_nav_1 .nav_links_wrapper ul a.search_icon_anchor {
  background-image: url(../assets/Svgs/search_icon.svg);
  background-position: 0 2px;
}

.top_nav_2_wrapper {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.top_nav_2_wrapper.fixed_top_nav_2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: rgba(29, 29, 31, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

.top_nav_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
}

.top_nav_2 .product_logo_box a {
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.5px;
  opacity: 0.92;
}

.top_nav_2 .right_nav_links_box ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top_nav_2 .right_nav_links_box ul li a,
.top_nav_2 .right_nav_links_box ul li span {
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  color: #f5f5f7;
  opacity: 0.92;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 12px;
}

.top_nav_2 .right_nav_links_box ul li a:hover {
  color: #2997ff;
}

.top_nav_2 .right_nav_links_box ul li span {
  margin-right: 20px;
  opacity: 0.5;
  cursor: default;
}

.top_video_section {
  max-width: 980px;
  margin: auto;
}

.top_video_section .top_title_box {
  text-align: center;
  position: relative;
  width: 550px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 8px;
}

.top_video_section .top_title_box .black_overly_animation {
  width: 125%;
  background: linear-gradient(45deg, transparent, #000 20%);
  left: auto;
  right: 0;
}

.top_video_section .top_title_box h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -0.2px;
}

.top_video_section .top_title_box h1 {
  letter-spacing: 0.2px;
}

.top_video_section .top_video_container {
  position: relative;
  width: 1352px;
  z-index: 3;
  top: 0;
  -webkit-transform: translateY(-185px);
          transform: translateY(-185px);
  left: 24px;
  overflow: hidden;
}

.top_video_section .top_video_container video {
  width: 100%;
  opacity: 0;
}

.first_paragraph_section {
  max-width: 980px;
  margin: auto;
  margin-top: -180px;
  opacity: 0;
}

.first_paragraph_section .first_paragraph {
  width: 66.6666%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.less_bezel_more_screen_section {
  max-width: 980px;
  margin: auto;
  margin-top: 180px;
}

.less_bezel_more_screen_section .title {
  position: relative;
  display: inline-block;
}

.less_bezel_more_screen_section .video_wrapper {
  width: 720px;
  margin: auto;
  margin-top: 60px;
  position: relative;
  margin-bottom: 100px;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-box-shadow: 0 -40px 12px -25px #000000b3;
          box-shadow: 0 -40px 12px -25px #000000b3;
}

.less_bezel_more_screen_section .video_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: auto;
  pointer-events: none;
}

.less_bezel_more_screen_section .video_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(to top, #000, rgba(255, 0, 0, 0));
  z-index: 5;
  pointer-events: none;
}

.compare_section {
  max-width: 980px;
  margin: auto;
}

.compare_section .compaer_video_and_text_wrapper {
  position: relative;
}

.compare_section .video_wrapper {
  width: 320px;
  margin: auto;
}

.compare_section .compare_text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -460px;
  width: 100%;
  padding: 0 7%;
  opacity: 0;
}

.compare_section .compare_text_wrapper .left_text,
.compare_section .compare_text_wrapper .right_text {
  width: 180px;
  text-align: right;
}

.compare_section .compare_text_wrapper .left_text p,
.compare_section .compare_text_wrapper .right_text p {
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
}

.compare_section .compare_text_wrapper .left_text p:first-child,
.compare_section .compare_text_wrapper .right_text p:first-child {
  color: #ffffff;
}

.compare_section .compare_text_wrapper .left_text p a,
.compare_section .compare_text_wrapper .right_text p a {
  font-size: 10px;
  color: #a1a1a6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.compare_section .compare_text_wrapper .left_text p a:hover,
.compare_section .compare_text_wrapper .right_text p a:hover {
  color: #2997ff;
}

.compare_section .compare_text_wrapper .right_text {
  text-align: left;
}

.compare_section .compare_button_wrapper {
  margin-top: 65px;
  text-align: center;
}

.compare_section .compare_button_wrapper button {
  color: #ffffff;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.compare_section .compare_button_wrapper button:hover {
  background: #ffffff;
  color: #000000;
}

.kick_glass_section {
  margin-top: 275px;
}

.kick_glass_section .container_1304px {
  margin-top: 65px;
  margin-bottom: 65px;
}

.kick_glass_section .kicks_glass_img_box {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.kick_glass_section .gradient_text {
  width: 42%;
  margin: auto;
  position: relative;
}

.kick_glass_section h3 {
  width: 58.333%;
  margin: auto;
}

.kick_glass_section button {
  margin-top: 35px;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.water_resistent_section {
  max-width: 980px;
  margin: auto;
  margin-top: 200px;
}

.water_resistent_section .water_splash_main_image_box {
  width: 1008px;
  height: 990px;
  background-image: url(../assets/design_water_resistance__bx3cq2uzbzw2_large.jpg);
  background-repeat: no-repeat;
  background-size: 1008px 990px;
  margin-left: -386px;
  left: 50%;
  position: relative;
  opacity: 0;
}

.water_resistent_section .water_splash_2_box {
  width: 887px;
  height: 676px;
  background-size: 887px 676px;
  background-repeat: no-repeat;
  background-image: url(../assets/design_water_droplets_1__jqjg8q8v7gey_large.png);
  position: absolute;
  top: 0;
  left: 0;
}

.water_resistent_section .water_splash_3_box {
  width: 849px;
  height: 544px;
  background-size: 849px 544px;
  background-repeat: no-repeat;
  background-image: url(../assets/design_water_droplets_2__gnw524nfqium_large.png);
  position: absolute;
  top: 0;
  left: 0;
}

.water_resistent_section .content_wrapper {
  width: 300px;
  margin-top: -350px;
  z-index: 3;
  position: relative;
  opacity: 0;
}

.water_resistent_section .content_wrapper p {
  width: 250px;
  margin-top: 25px;
}

.finishing_touch_section {
  max-width: 1100px;
  margin: auto;
}

.finishing_touch_section .video_wrapper {
  margin-top: 50px;
  margin-bottom: 40px;
}

.finishing_touch_section .video_wrapper video {
  width: 100%;
}

.finishing_touch_section h2 {
  margin-bottom: 20px;
  opacity: 0;
}

.finishing_touch_section p {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.grid_section {
  max-width: 980px;
  margin: auto;
  margin-top: 275px;
}

.grid_section .grid_title_box {
  margin: auto;
  width: 88%;
  position: relative;
}

.grid_section p.bold_p {
  width: 100%;
  margin: auto;
  margin-bottom: 35px;
}

.grid_section .p_24px {
  width: 66.6666%;
  margin: auto;
}

.grid_section .grid_long_desc {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.grid_section .grid_layout_wrapper {
  padding: 120px 60px 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 170px 210px 285px 215px 145px;
      grid-template-rows: 170px 210px 285px 215px 145px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 6px;
  position: relative;
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper .bg_light {
  position: absolute;
  pointer-events: none;
  opacity: 0.3;
  width: 715px;
  height: 835px;
  background-size: 715px 835px;
  background-repeat: no-repeat;
  background-image: url(../assets/gradient__eb6qddgekbyq_large.png);
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper .bg_light.bg_light_1 {
  top: -60px;
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper .bg_light.bg_light_2 {
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.7;
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper .bg_light.bg_light_3 {
  top: 50%;
  right: -30px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  opacity: 0.2;
}

.grid_section .grid_layout_wrapper .grid_bg_lighting_wrapper .bg_light.bg_light_4 {
  bottom: -120px;
  top: auto;
  right: 50px;
  opacity: 0.5;
}

.grid_section .grid_layout_wrapper .cell {
  background: #000;
  -webkit-box-shadow: 0 0 8px rgba(97, 182, 205, 0.1);
          box-shadow: 0 0 8px rgba(97, 182, 205, 0.1);
  padding: 20px;
  padding-bottom: 15px;
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid_section .grid_layout_wrapper .cell .cell_content_box {
  opacity: 0;
}

.grid_section .grid_layout_wrapper .cell p {
  color: #ffffff;
}

.grid_section .grid_layout_wrapper .cell .gradient_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 8px;
  margin-left: -3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid_section .grid_layout_wrapper .cell .gradient_text_box p {
  margin-left: 10px;
  font-weight: 400;
}

.grid_section .grid_layout_wrapper .cell .gradient_text_box h3 {
  font-size: 64px;
  line-height: 1.06;
  margin-bottom: -6px;
}

.grid_section .grid_layout_wrapper .cell .gradient_text_box h3 span {
  font-size: 40px;
}

.grid_section .grid_layout_wrapper .span_2 {
  grid-column: span 2;
}

.grid_section .grid_layout_wrapper .span_3 {
  grid-column: span 3;
}

.grid_section .grid_layout_wrapper .span_4 {
  grid-column: span 4;
}

.grid_section .grid_layout_wrapper .span_5 {
  grid-column: span 5;
}

.grid_section .grid_layout_wrapper .span_6 {
  grid-column: span 6;
}

.grid_section .grid_layout_wrapper .span_7 {
  grid-column: span 7;
}

.grid_section .grid_layout_wrapper .span_8 {
  grid-column: span 8;
}

.grid_section .grid_btm_content {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.grid_section .text_wrapper {
  text-align: center;
  margin-top: 50px;
}

.grid_section .text_wrapper p {
  width: 58.333%;
  margin: auto;
  margin-bottom: 35px;
}

.lidar_scanner_section {
  margin-top: 270px;
}

.lidar_scanner_section p.subtitle {
  margin-bottom: 35px;
}

.lidar_scanner_section .title_wrapper {
  width: 65%;
  position: relative;
}

.lidar_scanner_section .video_wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.lidar_scanner_section .video_wrapper::before, .lidar_scanner_section .video_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#000));
  background: linear-gradient(to top, transparent, #000);
  pointer-events: none;
}

.lidar_scanner_section .video_wrapper::after {
  top: auto;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent, #000);
}

.lidar_scanner_section .video_wrapper video {
  width: 100%;
}

.lidar_scanner_section .lidar_bottom_text_box {
  margin-top: 100px;
}

.lidar_scanner_section .lidar_bottom_text_box p {
  width: 66.66%;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.pro_camera_system_section {
  margin-top: 270px;
}

.pro_camera_system_section .title_box {
  margin-bottom: 115px;
  padding-left: 3px;
}

.pro_camera_system_section .pro_cam_bg_wrapper {
  -webkit-box-shadow: 0 -20px 10px -8px #000000;
          box-shadow: 0 -20px 10px -8px #000000;
  background: #000000;
}

.pro_camera_system_section .big_bg_section {
  width: 1210px;
  height: 695px;
  background-image: url(../assets/night_photography__dt6fw02h1xg2_large.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  left: 50%;
  margin-left: -350px;
  opacity: 0;
}

.pro_camera_system_section .paragraph_section {
  margin-top: 70px;
  margin-bottom: 115px;
}

.pro_camera_system_section .gradient_text_with_line_box {
  width: 100% !important;
  max-width: 100% !important;
}

.camerus_maximus_section {
  margin-top: 140px;
}

.camerus_maximus_section .portrait_sec_title {
  opacity: 0;
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  position: relative;
  z-index: 3;
}

.camerus_maximus_section .title_box {
  width: 85%;
}

.camerus_maximus_section .big_bg_box {
  width: 1252px;
  height: 595px;
  background-image: url(../assets/pro_max_camera__bzij6665trhy_large.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  left: 50%;
  margin-left: -626px;
}

.camerus_maximus_section .bottom_paragraph {
  margin-top: 125px;
  margin-bottom: 115px;
}

.camerus_maximus_section .bottom_paragraph p {
  width: 50%;
  margin: auto;
}

.camerus_maximus_section .two_part_gradient_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camerus_maximus_section .two_part_gradient_text_box .gradient_text_with_line_box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.camerus_maximus_section .two_part_gradient_text_box .left_col {
  width: 50%;
  margin-left: 25%;
  padding-right: 100px;
}

.camerus_maximus_section .two_part_gradient_text_box .right_col {
  width: 50%;
  padding-right: 100px;
}

.camerus_maximus_section .two_part_gradient_text_box .right_col .default_button, .camerus_maximus_section .two_part_gradient_text_box .right_col .btn_box button, .btn_box .camerus_maximus_section .two_part_gradient_text_box .right_col button {
  margin-top: 32px;
}

.portraits_section {
  margin-top: 140px;
}

.portraits_section .title_box {
  padding-right: 50px;
}

.portraits_section .por_t_1,
.portraits_section .por_t_2,
.portraits_section .por_t_3,
.portraits_section .por_t_4 {
  margin-bottom: 40px;
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
  z-index: 5;
  position: relative;
  opacity: 0;
}

.iphone_12_pro_vs_12_pro_max_section .snapshot_title {
  opacity: 0;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_camera_img_box {
  width: 58%;
  position: relative;
  opacity: 0;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_camera_img_box .showing_text {
  position: absolute;
  bottom: 200px;
  left: 70px;
  font-size: 12px;
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  color: #6e6e73;
  z-index: 5;
  cursor: default;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .lens,
.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .all_lens_visible_box {
  width: 578px;
  height: 737px;
  background-image: url(../assets/camera_system_static__cjipojr1ywb6_large.jpg);
  background-size: 578px 737px;
  background-repeat: no-repeat;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .lens_top {
  -webkit-mask-image: url(../assets/Svgs/camera_system_top_lens_mask__bxnov0aipz6q_large.svg);
          mask-image: url(../assets/Svgs/camera_system_top_lens_mask__bxnov0aipz6q_large.svg);
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .lens_middle {
  -webkit-mask-image: url(../assets/Svgs/camera_system_middle_lens_mask__cszrysa75imq_large.svg);
          mask-image: url(../assets/Svgs/camera_system_middle_lens_mask__cszrysa75imq_large.svg);
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .lens_bottom {
  -webkit-mask-image: url(../assets/Svgs/camera_system_bottom_lens_mask__bop36pqbdoc2_large.svg);
          mask-image: url(../assets/Svgs/camera_system_bottom_lens_mask__bop36pqbdoc2_large.svg);
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box {
  width: 42%;
  padding-left: 15px;
  position: relative;
  z-index: 5;
  padding-right: 50px;
  margin-top: 85px;
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .changeable_compare_content_box {
  margin-top: 20px;
  position: relative;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .changeable_compare_content_box .ultra_wide_compare_content_box,
.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .changeable_compare_content_box .telephoto_compare_content_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: auto;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_title,
.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .content_compare_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_title .right_title,
.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .content_compare_box .right_title {
  padding-left: 35px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_compare {
  padding-right: 30px;
  border-right: 1px solid #424245;
  padding-top: 15px;
  padding-bottom: 10px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_compare p {
  margin-bottom: 10px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_compare p:last-child {
  margin-bottom: 0;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_max_compare {
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_max_compare p {
  margin-bottom: 10px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .iphone_12_pro_max_compare p:last-child {
  margin-bottom: 0;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .content_compare_box {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .content_compare_box.show {
  opacity: 1 !important;
  pointer-events: all;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .content_compare_box > div {
  color: #ffffff;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_switches_box {
  width: 95%;
  height: 44px;
  margin-top: 65px;
  background: #1d1d1f;
  border-radius: 10rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 2px;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_switches_box .white_button_bg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2px;
  width: 120px;
  height: calc(100% - 4px);
  border-radius: 10rem;
  background: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_switches_box button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0 18px;
  border-radius: 10rem;
  font-size: 14px;
  font-family: "SF Pro Text Regular", Helvetica, Arial, sans-serif;
  color: #a1a1a6;
  background: transparent;
  font-weight: 600;
  border: none;
  background: transparent;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.iphone_12_pro_vs_12_pro_max_section .compare_flex_wrap .phone_compare_content_box .compare_switches_box button span {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  left: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.iphone_12_pro_vs_12_pro_max_section.active_wide .lens_top,
.iphone_12_pro_vs_12_pro_max_section.active_wide .wide_compare_content_box {
  opacity: 1 !important;
  pointer-events: all !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_wide .wide_btn {
  color: #2c2c2c !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_wide .wide_btn span {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.iphone_12_pro_vs_12_pro_max_section.active_ultra_wide .lens_middle,
.iphone_12_pro_vs_12_pro_max_section.active_ultra_wide .ultra_wide_compare_content_box {
  opacity: 1 !important;
  pointer-events: all !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_ultra_wide .ultra_wide_btn {
  color: #2c2c2c !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_ultra_wide .telephoto_btn span {
  -webkit-transform: translateY(-50%) scale(1) !important;
          transform: translateY(-50%) scale(1) !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_telephoto .lens_bottom,
.iphone_12_pro_vs_12_pro_max_section.active_telephoto .telephoto_compare_content_box {
  opacity: 1 !important;
  pointer-events: all !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_telephoto .telephoto_btn {
  color: #2c2c2c !important;
}

.iphone_12_pro_vs_12_pro_max_section.active_telephoto .wide_btn span {
  -webkit-transform: translateY(-50%) scale(1) !important;
          transform: translateY(-50%) scale(1) !important;
}

.proraw_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.proraw_section .content_box {
  max-width: 41.66667%;
  margin-top: 130px;
}

.proraw_section .content_box h2 {
  margin-bottom: 35px;
  opacity: 0;
}

.proraw_section .content_box p {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.proraw_section .img_box {
  max-width: 50%;
}

.vision_recording_section {
  margin-top: 250px;
}

.vision_recording_section .gradient_text_subtext_weap {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  z-index: 5;
  position: relative;
}

.vision_recording_section .gradient_text_subtext_weap .gradient_text {
  margin-bottom: 35px;
}

.vision_recording_section .gradient_text_subtext_weap .container_980px {
  margin-top: 120px;
}

.vision_recording_section .airplay_icon_box {
  margin-top: 90px;
}

.movie_night {
  margin-top: 205px;
}

.movie_night .title_box h2 {
  max-width: 41.66667%;
  margin: auto;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.movie_night .bottom_content_bg {
  padding-top: 150px;
  padding-bottom: 0;
}

.movie_night .gradient_text_with_line_box {
  max-width: 80%;
  margin: auto;
  margin-top: 115px;
}

.movie_night .gradient_text_with_line_box h2 {
  text-align: center;
}

.true_dept_camera_section {
  padding-top: 275px;
  position: relative;
  z-index: 5;
  background-color: #000;
}

.true_dept_camera_section .img_box {
  margin-top: 75px;
  margin-bottom: 45px;
  opacity: 0;
  -webkit-box-shadow: 0px -30px 20px 0px #000;
          box-shadow: 0px -30px 20px 0px #000;
  background-color: #000;
  position: relative;
  z-index: 5;
}

.super_ratina_section {
  margin-top: 275px;
}

.super_ratina_section .big_landscape_wrapper {
  max-width: 1348px;
  margin: auto;
  margin-top: 120px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.super_ratina_section .big_landscape_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

.super_ratina_section .big_landscape_wrapper video {
  max-width: 110%;
}

.super_ratina_section .bottom_paragraph {
  margin-top: 80px;
}

.super_ratina_section .two_box_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.super_ratina_section .two_box_wrapper .box {
  width: 50%;
  background: #161617;
  border-radius: 10px;
  padding: 45px 60px;
}

.super_ratina_section .two_box_wrapper .box p {
  color: #f5f5f7;
}

.super_ratina_section .two_box_wrapper .box h2 {
  font-size: 64px;
}

.super_ratina_section .two_box_wrapper .box h2 span {
  font-size: 40px;
}

.megsafe_section {
  margin-top: 275px;
}

.megsafe_section .mag_title_left {
  padding-right: 50px;
}

.megsafe_section .mag_title_right {
  padding-left: 50px;
}

.megsafe_section .megsafe_video_1 {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.megsafe_section .video_wrapper {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.megsafe_section .video_wrapper video {
  max-width: 100%;
}

.megsafe_section .video_wrapper.landscape_video_wrapper {
  margin-top: 50px !important;
  margin-bottom: 35px;
}

.megsafe_section h2 {
  margin-top: 210px;
}

.megsafe_section .portrait_video_wrapper {
  margin-top: 210px;
}

.megsafe_section h2.stack_heading {
  margin-top: 60px !important;
  margin-bottom: 35px;
}

.turbo_chargable_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 275px;
}

.turbo_chargable_section .img_box {
  width: 41.66667%;
  margin-left: 47px;
}

.turbo_chargable_section .text_box {
  width: 33.33%;
  margin-left: 11.67%;
  margin-top: -100px;
}

.turbo_chargable_section .text_box h2 {
  margin-bottom: 35px;
}

.ultra_fast_wireless_section {
  margin-top: 275px;
}

.ultra_fast_wireless_section .container_58_percent {
  margin-top: 115px;
}

.ultra_fast_wireless_section .container_58_percent p {
  margin-top: 30px;
}

.ios_section {
  margin-top: 195px;
  padding-top: 80px;
  min-height: calc(100vh + 35px);
  max-height: calc(100vh + 35px);
  overflow: hidden;
  position: relative;
}

.ios_section .ios_overly_text_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.ios_section .ios_overly_text_wrapper .text_box {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
}

.ios_section .ios_phones_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ios_section .ios_phones_wrapper .phone_box {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ios_section .ios_phones_wrapper .phone_box.phone_box_1 {
  -webkit-transform: scale(2.5) translate(-100%, 0px);
          transform: scale(2.5) translate(-100%, 0px);
}

.ios_section .ios_phones_wrapper .phone_box.phone_box_3 {
  -webkit-transform: scale(2.5) translate(100%, 0px);
          transform: scale(2.5) translate(100%, 0px);
}

.ios_section .ios_phones_wrapper .phone_box p {
  width: 247px;
  margin: auto;
  margin-top: 20px;
}

.ios_section .ios_phones_wrapper .phone_box:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper {
  width: 248px;
  height: 498px;
  position: relative;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_border_and_wallpaper_wrapper {
  width: 100%;
  height: 498px;
  position: relative;
  -webkit-transform: scale(7) translateY(-15px);
          transform: scale(7) translateY(-15px);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_border_and_wallpaper_wrapper .phone_border_shape_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_border_and_wallpaper_wrapper .phone_wall_paper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_border_and_wallpaper_wrapper .phone_wall_paper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper {
  position: absolute;
  width: 219px;
  top: 14px;
  left: 13px;
  z-index: 1;
  height: 100%;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .phone_top_time_bar {
  position: absolute;
  top: 8px;
  width: 196px;
  z-index: 2;
  left: 18px;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .phone_widgets_grid {
  position: absolute;
  top: 40px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (90px)[2];
      grid-template-columns: repeat(2, 90px);
  -ms-grid-rows: (99px)[3];
      grid-template-rows: repeat(3, 99px);
  grid-gap: 12px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 3;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .phone_widgets_grid .four_widgets_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (34px)[2];
      grid-template-columns: repeat(2, 34px);
  -ms-grid-rows: (45px)[2];
      grid-template-rows: repeat(2, 45px);
  grid-gap: 10px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .phone_bottom_part_wrapper {
  position: absolute;
  bottom: 28px;
  left: 8px;
  width: 206px;
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .clock_widget_box {
  -webkit-transform: scale(2.5) translate(-115%, -190%);
          transform: scale(2.5) translate(-115%, -190%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .camera_widget_box {
  -webkit-transform: scale(1.5) translate(-65%, -280%);
          transform: scale(1.5) translate(-65%, -280%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .fitness_widget_box {
  -webkit-transform: scale(2) translate(80%, -150%);
          transform: scale(2) translate(80%, -150%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .tv_widget_box,
.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .stocks_widget_box {
  -webkit-transform: scale(1.8) translate(-215%, -310%);
          transform: scale(1.8) translate(-215%, -310%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .photos_widget_box {
  -webkit-transform: scale(2.2) translate(-200%, -190%);
          transform: scale(2.2) translate(-200%, -190%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .mail_widget_box {
  -webkit-transform: scale(7) translate(310%, -115%);
          transform: scale(7) translate(310%, -115%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .files_widget_box {
  -webkit-transform: scale(5) translate(400%, -150%);
          transform: scale(5) translate(400%, -150%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .appstore_widget_box {
  -webkit-transform: scale(9) translate(300%, 65%);
          transform: scale(9) translate(300%, 65%);
}

.ios_section .ios_phones_wrapper .phone_box.middle_phone_box .all_content_wrapper .phone_screen_wrapper .weather_widget_box {
  -webkit-transform: scale(5) translate(435%, -50%);
          transform: scale(5) translate(435%, -50%);
}

.ios_section .anchor_center {
  margin-top: 100px;
}

.ios_section .anchor_center a,
.ios_section .anchor_center span {
  color: #2997ff !important;
  stroke: #2997ff !important;
}

.scroll_box {
  width: 100vh;
  height: 300vh;
}

.btn_box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 9999999;
  padding: 8px 10px;
}

.btn_box button {
  margin: 0 8px;
}
/*# sourceMappingURL=style.css.map */